---
import {getCollection} from 'astro:content'

import Base from '@/layouts/Base.astro'

const allPosts = await getCollection('posts')
const sortedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
)
---

<Base meta={{ title: 'Write' }}>
  <h2 class="text-2xl font-medium tracking-wide text-lightModeText dark:text-darkModeText w500:text-lg">
    Blog Posts
  </h2>

  <div class="mt-6 space-y-6">
    {sortedPosts.map((post) => (
      <article>
        <a class="group text-lightModeText dark:text-darkModeText duration-200" href={`/write/${post.slug}`}>
          <h3 class="text-xl font-semibold">{post.data.title}</h3>
          <p class="mt-2 text-sm opacity-80">{post.data.pubDate}</p>
          <p class="mt-2">{post.data.description}</p>
          <span class="relative bottom-0.5 block h-0.5 max-w-0 bg-accentColor transition-all duration-300 group-hover:max-w-full"></span>
        </a>
      </article>
    ))}
  </div>
</Base>